
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px);
}
.login-container{
    width: 370px;
    height: 300px;
    border: 1px solid #555;
    border-radius: 5px;
}
.login-form{
    padding: 0px 30px;
    margin-bottom: 20px;
}
.login-title{
    font-size: 25px;
    text-align: center;
    padding: 10px 0px;
    color: whitesmoke;
    background-color: #555;
}
.login-input{
    display: block;
    margin-top: 20px;
    width: 300px;
    height: 40px;
    padding: 0px 10px;
    font-size: 16px;
    outline: none;
}
.btn{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    background-color: #f23f2f;
    color: whitesmoke;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.signinBtn:hover{
    background-color: yellowgreen;
}
.login-container span{
    margin-left: 30px;
}
.login-container span a{
    color: #f23f2f;
    text-decoration: none;
}